APP_NAME=CampusResourcePlatform
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=https://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=campus_platform
DB_USERNAME=campus
DB_PASSWORD=campus_secret

QUEUE_CONNECTION=database
SESSION_DRIVER=database
CACHE_STORE=file
FILESYSTEM_DISK=local

SANCTUM_STATEFUL_DOMAINS=localhost
